baseURL: https://blog.siavashsakhavi.com
disablePathToLower: true
languageCode: en-us
title: A Journey into Pragmatism
theme: "PaperMod"
disqusShortname: siavashsakhavi

menu:
  main:
    - name: About
      url: about
      weight: 5
    - name: Search
      url: search/
      weight: 10
    - name: Tags
      url: tags/
      weight: 10

socialIcons:
  - name: github
    url: "https://github.com/adityatelange/hugo-PaperMod"
  - name: KoFi
    url: "https://ko-fi.com/adityatelange"
  - name: RsS
    url: "index.xml"

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  description: "Theme PaperMod - https://github.com/adityatelange/hugo-PaperMod"
  author: Siavash Sakhavi
  # author: ["Me", "You"] # multiple authors

  defaultTheme: auto
  # disableThemeToggle: true
  ShowShareButtons: true
  ShowReadingTime: true
  # disableSpecial1stPost: true
  displayFullLangName: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  ShowToc: true
  comments: true

  homeInfoParams:
    Title: ""
    Content: >
      I'm on a journey to become a better version of myself and this blog is 
      dedicated to my thoughts and findings related to it.

  socialIcons:
    - name: github
      url: "https://github.com/ssakhavi"
    - name: Twitter
      url: "https://twitter.com/SiavashSakhavi"
    - name: RsS
      url: "index.xml"

  # editPost:
  #   URL: "https://github.com/adityatelange/hugo-PaperMod/tree/exampleSite/content"
  #   Text: "Suggest Changes" # edit text
  #   appendFilePath: true # to append file path to Edit link

taxonomies:
  category: categories
  tag: tags
  series: series

outputs:
  home:
    - HTML
    - RSS
    - JSON # is necessary
markup:
  goldmark:
    renderer:
      unsafe: true
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         # noClasses: false
#         style: monokai

privacy:
  vimeo:
    disabled: false
    simple: true

  twitter:
    disabled: false
    enableDNT: true
    simple: true

  instagram:
    disabled: false
    simple: true

  youtube:
    disabled: false
    privacyEnhanced: true

services:
  instagram:
    disableInlineCSS: true
  twitter:
    disableInlineCSS: true
